body {
  margin: 0;
  font-family: Arial;
  background: #0d0d0d;
  color: white;
}

/* JOIN PAGE */
.join-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.title {
  color: #ff1493;
  font-size: 40px;
  margin-bottom: 20px;
}

input {
  padding: 12px;
  margin: 8px;
  width: 250px;
  border: none;
  border-radius: 8px;
}

button {
  padding: 12px 20px;
  background: #ff1493;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

/* GAME PAGE */
.game-container {
  padding: 20px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  color: #ff1493;
}

.chat-box {
  background: #121212;
  padding: 15px;
  height: 300px;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px #ff1493;
}

.message {
  padding: 5px;
}

.system {
  color: #ff1493;
  font-weight: bold;
}

.question-box {
  margin: 20px 0;
  padding: 15px;
  background: #1a1a1a;
  border-left: 5px solid #ff1493;
}

.guess-box {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.scoreboard {
  margin-top: 20px;
  padding: 10px;
  background: #111;
  border-radius: 10px;
  border: 1px solid #ff1493;
}

body{

background:#0d0d0d;

color:white;

font-family:Poppins;

}

.chat-container{

max-width:1200px;

margin:auto;

background:#121212;

border-radius:20px;

padding:20px;

box-shadow:
0 0 20px #ff1493;

}

:root{

--pink:#ff1493;
--black:#0d0d0d;
--white:#ffffff;

}